{% extends "base.html" %}
{% load markup %}
{% load i18n %}

{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="/static/css/360player.css" />
    <style type="text/css">
    .ui360,
    .sm2-360ui {
     min-width:50px; /* should always be at least this. */
     min-height:50px;
    }

    .sm2-360ui {
     width:50px;
     height:50px;
    }
    #pirslybos {
        cursor: pointer;
    }
    </style>
{% endblock extrahead %}

{% block content %}


<div class="invitation-container">
<div id="simuka"><img src="/static/img/simuka/0.png" width="150" height="150" alt="" border="0"></div>
<div id="nikolajus"><img src="/static/img/nick/0.png" width="150" height="150" alt="" border="0"></div>
    <div class="datetime">
        {% trans "2012 rugsėjo 22d. 14:30 - Palangos bažnyčia" %}
    </div>
    <h1>{{invitation.invitation_text.title}}</h1>

    <div class="invitation-body">
        {{invitation.invitation_text.body|markdown}}
    </div>
</div>

{% include "menu.html" %}

<div class="invitation-questions">
    <div class="guest_list clearfix">
        <div id="saving" class="saving"><img src="/static/img/spinner.gif"/></div>
        {% for guest in guests %}

            <div class="guest">
                <div class="guest-name">{{guest.full_name}}</div>
                <div id="guest-answer-{{guest.id}}" class="guest-answer">{% trans guest.get_rsvp_answer_display %}</div>
                <div class="answer-buttons">
                    <div class="btn-group" data-toggle="buttons-radio">
                      <button onclick="save_rsvp_answer({{guest.id}},1);" class="btn btn-primary btn-small {% if guest.rsvp_answer == 1 %}active{%endif%}">
                        <i class="icon-thumbs-up icon-white"></i>
                        {% trans "Taip dalyvausiu" %}
                      </button>
                      <button onclick="save_rsvp_answer({{guest.id}},2);" class="btn btn-primary btn-small {% if guest.rsvp_answer == 2 %}active{%endif%}">
                        <i class="icon-thumbs-down icon-white"></i>
                        {% trans "Nedalyvausiu" %}
                      </button>
                    </div>
                </div>
            </div>
            
        {% endfor %}
        
        {% if invitation.questions %}

        <div class="clear"></div>
        <div class="poll-title">
            {% trans "Prašome atsakyti dar keletą klausimų" %}
        </div>
        <div class="question-list">
            
            {% for question in invitation.questions.questions.all %}
                
            <div class="question clearfix">
                <div class="question-answers">
                    <div class="btn-group" data-toggle="buttons-radio">
                    {% for choice in question.choices.all %}
                      <button onclick="javascript:save_choice({{choice.pk}}, {{question.pk}});" class="btn btn-primary btn-small {% if choice.pk in poll_answers %}active{%endif%}">
                        {% trans choice.text %}
                      </button>
                    {% endfor %}
                    </div>
                </div>

                <div class="question-question">{{question.question}}</div>
                <div class="question-description">{{question.description|safe}}</div>
                {% if question.is_freetext_answer %}
                <div id="question_freetext_{{question.pk}}" {% if question.pk not in questions_has_answers %}style="display:none;"{% endif %}>
                    <i>{% trans "Norite pakomentuoti savo atsakymą ?" %}</i>
                    <div class="input-append">
                        <input id="q_text_{{question.id}}" type="text" name="comment" value="{% spaceless %}{% if question.id in ff_answers %}
                            {% for ffa_i,ffa_v in ff_answers.items %}
                                    {% if ffa_i == question.id %}
                                        {{ffa_v}}
                                    {% endif %}
                            {% endfor %}
                        {% endif %}{% endspaceless %}">
                        <button class="btn" onclick="javascript:save_comment({{question.pk}});">{% trans "Siųsti komentarą mums" %}</button>
                    </div>
                </div>
                {% endif %}
            </div>
            {% endfor %}

        </div>

        {% endif %}

    </div>
</div>

{% endblock content %}

{% block footer %}
<script type="text/javascript">
window.jQuery(document).ready(function() {
    window.jQuery('.btn-group').button();
    window.jQuery("#simuka").rotatingHead({imagePath: '/static/img/simuka/', width: 150, height: 150, margin: -181});
    window.jQuery("#nikolajus").rotatingHead({imagePath: '/static/img/nick/', width: 150, height: 150});

    window.jQuery("#pirslybos").click(function() {
        window.open("/player/", "player", "width=290,height=290,fullscreen=0,menubar=0,location=0,resizable=0, scrollbars=0,titlebar=0,status=0");
    });
});

function save_rsvp_answer(guest, answer)
{
    window.jQuery("#saving").show();
    window.jQuery.ajax({
        url: "/a/"+guest+"/"+answer+"/"
    }).done(function(data) {
        if (data.success == 'true' && data.new_status) {
            window.jQuery("#guest-answer-"+guest).text(data.new_status);
        }
        window.jQuery("#saving").hide();
    });
}

function save_choice(choice, question)
{
    window.jQuery("#saving").show();
    window.jQuery.ajax({
        url: "/p/"+choice+"/"
    }).done(function(data) {
        window.jQuery("#saving").hide();
        window.jQuery("#question_freetext_"+question).show();
    }).fail(function(data) {
        window.jQuery("#saving").hide();
    });
}

function save_comment(question)
{
    var message = window.jQuery("#q_text_"+question).val();
    var encoded_message = encodeURIComponent(message);
    var url = "/t/"+question+"/?t=" + encoded_message;
    window.jQuery("#saving").show();
    window.jQuery.ajax({
        url: url
    }).done(function(data) {
        window.jQuery("#saving").hide();
    }).fail(function(data) {
        window.jQuery("#saving").hide();
    });
}
</script>
{% endblock footer %}