{% extends "base.html" %}
{% load markup %}

{% block content %}

<div class="invitation-container">
    <h1>{{invitation.invitation_text.title}}</h1>

    <div class="invitation-body">
        {{invitation.invitation_text.body|markdown}}
    </div>

    <h2>Please confirm you will be there</h2>

    <div class="guest_list">
        {% for guest in guests %}
            {{guest.full_name}} - {{guest.get_rsvp_answer_display}}
            <div class="btn-group" data-toggle="buttons-radio">
              <button onclick="window.location.href='/answer/{{guest.id}}/1/';" class="btn btn-primary btn-small {% if guest.rsvp_answer == 1 %}active{%endif%}">
                <i class="icon-thumbs-up icon-white"></i>
                Yes i will
              </button>
              <button onclick="window.location.href='/answer/{{guest.id}}/3/';" class="btn btn-primary btn-small {% if guest.rsvp_answer == 3 %}active{%endif%}">
                <i class="icon-question-sign icon-white"></i>
                Maybe
              </button>
              <button onclick="window.location.href='/answer/{{guest.id}}/2/';" class="btn btn-primary btn-small {% if guest.rsvp_answer == 2 %}active{%endif%}">
                <i class="icon-thumbs-down icon-white"></i>
                No
              </button>
            </div>
        {% endfor %}
    </div>

    <div class="questions">
        <h2>Other questions</h2>

        1. are you vegetarian ?<br/>
        2. who are you?<br/>
        3. need sleep ?
    </div>
</div>
{% endblock content %}

{% block footer %}
<script type="text/javascript">
window.jQuery(document).ready(function() {
    window.jQuery('.btn-group').button();
});
</script>
{% endblock footer %}