{% extends "base.html" %}
{% load markup %}
{% load i18n %}

{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="/static/css/360player.css" />
    <!--[if IE]><script type="text/javascript" src="/static/js/360/excanvas.js"></script><![endif]-->
    <script type="text/javascript" src="/static/js/360/berniecode-animator.js"></script>
    <script type="text/javascript" src="/static/libs/soundmanager2-jsmin.js"></script>
    <script type="text/javascript" src="/static/js/360/360player.js"></script>
    <script type="text/javascript">
    soundManager.setup({
      url: '/static/swf/',
      defaultOptions: {
        volume: 50,
        stream: true
      }
    });
    </script>

{% endblock extrahead %}

{% block content %}


<div class="invitation-container">
<div id="simuka"><img src="/static/img/simuka/0.png" width="150" height="150" alt="" border="0"></div>
<div id="nikolajus"><img src="/static/img/nick/0.png" width="150" height="150" alt="" border="0"></div>
    <div class="datetime">
        {% trans "2012 rugsėjo 22d. 14:30 - Palangos bažnyčia" %}
    </div>
    <h1>{{invitation.invitation_text.title}}</h1>

    <div class="invitation-body">
        {{invitation.invitation_text.body|markdown}}
    </div>
</div>

{% include "menu.html" %}

<div class="invitation-questions">
    <div class="guest_list clearfix">
        <div id="saving" class="saving"><img src="/static/img/spinner.gif"/></div>
        {% for guest in guests %}

            <div class="guest">
                <div class="guest-name">{{guest.full_name}}</div>
                <div id="guest-answer-{{guest.id}}" class="guest-answer">{% trans guest.get_rsvp_answer_display %}</div>
                <div class="answer-buttons">
                    <div class="btn-group" data-toggle="buttons-radio">
                      <button onclick="save_rsvp_answer({{guest.id}},1);" class="btn btn-primary btn-small {% if guest.rsvp_answer == 1 %}active{%endif%}">
                        <i class="icon-thumbs-up icon-white"></i>
                        {% trans "Taip dalyvausiu" %}
                      </button>
                      <button onclick="save_rsvp_answer({{guest.id}},2);" class="btn btn-primary btn-small {% if guest.rsvp_answer == 2 %}active{%endif%}">
                        <i class="icon-thumbs-down icon-white"></i>
                        {% trans "Nedalyvausiu" %}
                      </button>
                    </div>
                </div>
            </div>
            
        {% endfor %}
        
        {% if invitation.questions %}

        <div class="clear"></div>
        <div class="poll-title">
            {% trans "Prašome atsakyti dar keletą klausimų" %}
        </div>
        <div class="question-list">
            
            {% for question in invitation.questions.questions.all %}
                
            <div class="question clearfix">
                <div class="question-answers">
                    <div class="btn-group" data-toggle="buttons-radio">
                    {% for choice in question.choices.all %}
                      <button onclick="javascript:save_choice({{choice.pk}});" class="btn btn-primary btn-small {% if choice.pk in poll_answers %}active{%endif%}">
                        {% trans choice.text %}
                      </button>
                    {% endfor %}
                    </div>
                </div>

                <div class="question-question">{{question.question}}</div>
                <div class="question-description">{{question.description}}</div>
            </div>
            {% endfor %}

        </div>

        {% endif %}

    </div>
</div>

{% endblock content %}

{% block footer %}
<script type="text/javascript">
window.jQuery(document).ready(function() {
    window.jQuery('.btn-group').button();
    window.jQuery("#simuka").rotatingHead({imagePath: '/static/img/simuka/', width: 150, height: 150, margin: -181});
    window.jQuery("#nikolajus").rotatingHead({imagePath: '/static/img/nick/', width: 150, height: 150});
});

function save_rsvp_answer(guest, answer)
{
    $("#saving").show();
    $.ajax({
        url: "/a/"+guest+"/"+answer+"/",
    }).done(function(data) {
        if (data.success == 'true' && data.new_status) {
            $("#guest-answer-"+guest).text(data.new_status);
        }
        $("#saving").hide();
    });
}

function save_choice(choice)
{
    $("#saving").show();
    $.ajax({
        url: "/p/"+choice+"/",
    }).done(function(data) {
        $("#saving").hide();
    }).fail(function(data) {
        $("#saving").hide();
    });
}
</script>
{% endblock footer %}