{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<div class="invitation-menu">
    <ul class="clearfix">
        <li><a href="{% url invitation %}">{% trans "Kvietimas" %}</a></li>
        <li><a href="{% url story %}">{% trans "Kaip taip atsitiko?" %}</a></li>
        <li><a href="/{{LANGUAGE_CODE}}/map/">{% trans "Žemėlapis ir programa" %}</a></li>
        <li><a href="{% url friends %}">{% trans "Draugų ratas" %}</a></li>
        <li class="last"><a href="mailto:nikolajus@gmail.com?subject=rsvp">{% trans "Klausk? - atsakysim!" %}</a></li>
    </ul>
</div>