{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div id="language-icons" class="clearfix">
    <ul>
        {# <li><a href="/nl/1/" title="Dutch taal"><img src="/static/img/flags/nl.png" width="16" height="11" alt="Dutch taal" border="0"></a></li> #}
        <li><a href="/en/1/" title="English language"><img src="/static/img/flags/gb.png" width="16" height="11" alt="English language" border="0"></a></li>
        <li><a href="/ru/1/" title="Руский язык"><img src="/static/img/flags/ru.png" width="16" height="11" alt="Руский язык" border="0"></a></li>
        <li><a href="/lt/1/" title="Lietuvių kalba"><img src="/static/img/flags/lt.png" width="16" height="11" alt="Lietuvių kalba" border="0"></a></li>
    </ul>
</div>
<div id="pin1-container">
    <div class="pin1-head">
        {% if not messages %}
            <img src="/static/img/pin1-simuka-1.png" width="108" height="108" border="0" alt="">
        {% else %}
            <img src="/static/img/pin1-simuka-error.png" width="108" height="108" border="0" alt="">
        {% endif %}
    </div>

    <div class="pin1-title">
        <h1>{% trans "Jei užėjote čia, reiškia esate pakviesti" %}</h1>
        <p>{% trans "bet mes įtarūs, tad įveskite prašom kodą kurį gavote kartu su el. pakvietimu" %}<p>
    </div>

    <div class="pin1-input">
        <form action="" method="post">
            {% csrf_token %}
            
            {% if messages %}
            {% for message in  messages%}
                <div class="pin1-alert">
                    {{message}}
                </div>
            {% endfor %}
            {% endif %}
            
            <div class="input-append">
                <input type="text" placeholder="{% trans "KODAS" %}" name="pin" value="{%if pin%}{{pin}}{%endif%}" class="input-small appendedInputButtons">
                <input type="submit" value="{% trans "Toliau" %}" class="btn btn-large btn-primary">
            </div>
            <div id="pin1-arrow">
                <img src="/static/img/arrow.png" width="70px" height="59" border="0" alt="">
            </div>
        </form>
    </div>
</div>
{% endblock content %}