{% extends "base.html" %}

{% block content %}
<div id="pin1-container">
    <div class="pin1-head">
        <img src="/static/img/simuka-security.png" width="108" height="108" border="0" alt="">

        <div id="pin1-arrow">
            <img src="/static/img/arrow.png" width="70px" height="59" border="0" alt="">
        </div>
    </div>

    <div class="pin1-title">
        {% if messages %}
            {% for message in  messages%}
                {{message}}
            {% endfor %}
        {% endif %}
        <h1>Jei užėjote čia, reiškia esate pakviesti</h1>
        <h2>bet mes įtarūs, tad įveskite prašom kodą kurį gavote kartu su el. pakvietimu:<h2>
    </div>

    <div class="pin1-input">
        <form action="" method="post">
            {% csrf_token %}
            <input type="text" value="xxxx" name="pin"> <input type="submit" value="Toliau">
        </form>
    </div>
</div>
{% endblock content %}