{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div id="pin2-container" class="clearfix">
    <div class="pin2-head">
        <img src="/static/img/simuka-security.png" width="108" height="108" border="0" alt="">
    </div>

    <div class="pin1-title">
        <h1>{% trans "Hey! Jūs tikrai pakviesti. Džiaugiuosi kad užėjot" %}</h1>
        <p>{% trans "dabar norėtume sužinoti kuris būtent esate" %}</p>
        <p>{% trans "pasirinkite žemiau esančiame langelyje savo vardą/pavardę ar slapyvardį" %}</p>
        <div class="pin2-input">
            <form action="" method="post">
                {% csrf_token %}
                {% if messages %}
                {% for message in  messages%}
                    {% if message.tags == 'error' %}
                        <div class="pin1-alert">
                            {{message}}
                        </div>
                    {% endif %}
                {% endfor %}
                {% endif %}

                {# Patikrinam ar nera jis tik vienas svecias cia #}
                {% if guest_count == 1 %}
                    
                    <p>{% trans "<b>Hey</b>!<br/>Panašu kad Jūs vienas be poros. Negerai... Jei ketinate ateiti su kažkuo prašome užpildyti Jūsų poros vardą pavardę. Jei ketinate ateiti vieni tiesiog spauskite '<b>Toliau</b>'" %}</p>

                    <div class="input-append controls">
                        <input type="hidden" name="guest_invited_id" value="">
                        <input type="text" name="guest_invited" value="" placeholder="{% trans "Vardas Pavardė" %}">
                        <input type="submit" value="{% trans "Toliau" %}" class="btn btn-medium btn-primary">
                    </div>

                {% else %}
                    {# daugiau nei vienas svecias #}

                    <div class="input-append controls">
                        <select name="guest" id="" class="input-medium appendedInputButtons">
                            <option value="">{% trans "nurodyk kas tu ?" %}</option>
                            {% for guest in guests  %}
                                <option value="{{guest.id}}">{{guest.full_name}}</option>
                            {% endfor %}
                        </select>
                        <input type="submit" value="{% trans "Toliau" %}" class="btn btn-medium btn-primary">
                    </div>

                {% endif %}

            </form>
        </div>
    </div>
    
</div>
{% endblock content %}