{% extends "base.html" %}
{% load i18n %}

{% block content %}

<div class="story-container">
    <div id="timeline-embed" class="sized-embed"></div>
</div>

{% include "menu.html" %}

{% endblock content %}


{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="/static/css/360player.css" />
    <!--[if IE]><script type="text/javascript" src="/static/js/360/excanvas.js"></script><![endif]-->
    <script type="text/javascript" src="/static/js/360/berniecode-animator.js"></script>
    <script type="text/javascript" src="/static/libs/soundmanager2-jsmin.js"></script>
    <script type="text/javascript" src="/static/js/360/360player.js"></script>
    <script type="text/javascript">
    soundManager.setup({
      url: '/static/swf/',
      defaultOptions: {
        volume: 50,
        stream: true
      }
    });
    </script>
{% endblock extrahead %}

{% block footer %}
<script type="text/javascript">
    var timeline_config = {
        embed: true,
        width: 720,
        height: 500,
        lang: 'en',
        source: 'https://docs.google.com/spreadsheet/pub?key=0AhbeEmawcvUedDZkaUVMRHRadk4yRzJ3ZDJBZmlHckE&output=html',
        css:    '/static/css/timeline.css', //OPTIONAL
        js:     '/static/libs/timeline-min.js',
    }
</script>
<script type="text/javascript" src="/static/libs/timeline-embed.js"></script>
{% endblock footer %}