body {
    background-image: url(/static/img/bg.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% auto;
}

.invitation-container {
    width: 700px;
    min-height: 300px;
    margin: 70px auto 0 auto;
    padding: 10px 10px 10px 20px;
    border-radius: 5px;
    color: #fff;
}

.rgba .invitation-container {
    background-color: rgba(0,0,0,.5);
}

.no-rgba .invitation-container {
    background-image: url(/static/img/bg.jpg);
}

#pin1-container {
    width: 500px;
    min-height: 230px;
    margin: 25px auto 0 auto;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
}

#language-icons {
    width: 500px;
    margin: 60px auto 0 auto;
    color: #fff;
    height: 11px;
}

#language-icons li {
    height: 11px;
    float: right;
    width: 23px;
    list-style-type: none;
}

.rgba #pin1-container {
    background-color: rgba(0,0,0,.5);
}

.no-rgba #pin1-container {
    background-image: url(/static/img/bg.jpg);
}

#pin2-container {
    width: 500px;
    min-height: 230px;
    margin: 70px auto 0 auto;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
}

.rgba #pin2-container {
    background-color: rgba(0,0,0,.5);
}

.no-rgba #pin2-container {
    background-image: url(/static/img/bg.jpg);
}

#pin1-arrow {
    position: relative;
    padding-top: 0px;
    float: left;
    left: -105px;
    top: -63px;
}

.cssanimations #pin1-arrow {
    -webkit-animation: point-to 1s infinite;
    -moz-animation: point-to 1s infinite;
}

.no-cssanimations #pin1-arrow {
    display: none;
}

#pin2-arrow {
    position: absolute;
    padding-top: 10px;
    padding-left: 25px;
    -webkit-animation: point-2 1s infinite;
}

@-webkit-keyframes point-to {
    0% { -webkit-transform: translate3d(0,   0,0); 
         -webkit-animation-timing-function: ease-in; }
   40% { -webkit-transform: translate3d(30px, 0, 0); 
         -webkit-animation-timing-function: ease-out; }
  100% { -webkit-transform: translate3d(0,   0,0); }
}

@-moz-keyframes point-to {
    0% { -moz-transform: translate(0,0); 
         -moz-animation-timing-function: ease-in; }
   40% { -moz-transform: translate(30px,0); 
         -moz-animation-timing-function: ease-out; }
  100% { -moz-transform: translate(0,0); }
}

@-webkit-keyframes point-2 {
    0% { -webkit-transform: scaleX(-1); 
         -webkit-transform: translate(0, 0); 
         -webkit-animation-timing-function: ease-in; }
   40% { -webkit-transform: scaleX(-1);
         -webkit-transform: translate(-30px, 0); 
         -webkit-animation-timing-function: ease-out; }
  100% { -webkit-transform: scaleX(-1);
         -webkit-transform: translate(0,   0); }
}

.pin1-head {
    float: left;
    width: 108px;
    padding: 20px 20px 40px 0px;
}

.pin2-head {
    float: right;
    width: 108px;
    padding: 20px 0 40px 20px;
}

.pin1-title {
    float: right;
    width: 372px;
    display: block;
}

.pin1-input {
    float: right;
    width: 372px;
}

.pin1-alert {
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    font-size:15px;
    padding: 0;
    color: #FFB3B3;
}

.pin1-title h1, .invitation-container h1 {
    font-family: 'Courgette', Arial, serif;
    font-weight: 400;
    size: 25px;
    color: #fff;
    line-height: 95%;
}

.pin1-title p {
    font-family: 'Source Sans Pro', Arial, serif;
    font-weight: 400;
    font-size: 15px;
    color: #fff;
    line-height: 120%;
}

.pin1-input input[type=text] {
  padding: 8px 14px;
  font-size: 15px;
  line-height: normal;
}

.pin1-input input[type=submit] {
  margin-top:0;
  margin-left:0;
}

.pin2-input select {
  font-size: 15px;
  line-height: normal;
}

.pin2-input input[type=submit] {
    margin: 0;
}

.invitation-body {
    font-family: 'Source Sans Pro', Arial, serif;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    line-height: 120%;
}

#photoX {
    width: 200px;
    height: 239px;
    position: absolute;
    display: inline-block;
    top: 200px;
    left: 200px;
}

#photoY {
    width: 200px;
    height: 239px;
    position: absolute;
    display: inline-block;
    top: 200px;
    left: 1140px;
}

.invitation-container h1 {
    font-family: 'Courgette', cursive;
    font-weight: 400;
    color: #fff;
    font-size: 30px;
    margin-top: 6px;
}
.datetime {
    font-family: 'Source Sans Pro', Arial, serif;
    font-weight: 300;
    font-size: 14px;
    color: #B4B4B4;
    margin-top: 10px;
}
.invitation-menu {
    font-family: 'Source Sans Pro', Arial, serif;
    font-weight: 400;
    font-size: 14px;
    width: 700px;
    margin: 10px auto 0 auto;
    padding: 10px 10px 10px 20px;
    border-radius: 5px;
    color: #fff;
}
.invitation-menu ul {
    margin:0;
    padding:0;
    padding-top: 17px;
}
.invitation-menu li {
    float: left;
    list-style: none;
    padding: 0 10px 0 10px;
    margin: 0;
    display: inline-block;
    border-right: 1px solid #fff;
}
.invitation-menu li.last {
    border-right: none;
}

.invitation-menu li a {
    font-family: 'Source Sans Pro', Arial, serif;
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
}

.invitation-menu li a:hover {
    text-decoration: underline;
}


.rgba .invitation-menu {
    background-color: rgba(0,0,0,.34);
}

.no-rgba .invitation-menu {
    background-image: url(/static/img/bg.jpg);
}
.invitation-questions {
    font-family: 'Source Sans Pro', Arial, serif;
    font-weight: 400;
    font-size: 14px;
    width: 700px;
    margin: 10px auto 0 auto;
    padding: 10px 10px 10px 20px;
    border-radius: 5px;
    color: #fff;
}

.rgba .invitation-questions {
    background-color: rgba(0,0,0,.34);
}

.no-rgba .invitation-questions {
    background-image: url(/static/img/bg.jpg);
}


select {
    width: 220px;
    border: 1px solid #BBB;
    height: 28px;
    line-height: 28px;
    font-family: 'Source Sans Pro', Arial, serif;
    font-weight: 400;
    font-size: 14px;
    padding: 4px;
    background-color: #fff;
}


.controls a {
    text-decoration: none;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 13px;
}

.guest_list {

}

.guest {
    float: left;
    width: 276px;
    margin-bottom: 17px;
}
.guest-name {
    font-weight: 700;
    font-size: 26px;
    font-family: 'Source Sans Pro', Arial, serif;
}
.guest-answer {
    color: #fff;
    font-size: 13px;
}

.answer-buttons {

}

.saving {
    background-color: #fff;
    width: 16px;
    height: 16px;
    padding: 3px;
    float: right;
    display: none;
}

.story-container {
    width: 720px;
    padding: 0;
    margin: 70px auto 0 auto;
}