@import url(http://fonts.googleapis.com/css?family=Ubuntu+Condensed|Istok+Web:400,700&subset=latin,latin-ext,cyrillic-ext,cyrillic);

body {
    background-image: url(/static/img/bg.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% auto;
}

#pin1-container {
    width: 500px;
    min-height: 230px;
    margin: 70px auto 0 auto;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
}

.rgba #pin1-container {
    background-color: rgba(0,0,0,.5);
}

.no-rgba #pin1-container {
    background-image: url(/static/img/bg.jpg);
}

#pin2-container {
    width: 500px;
    min-height: 230px;
    margin: 70px auto 0 auto;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
}

.rgba #pin2-container {
    background-color: rgba(0,0,0,.5);
}

.no-rgba #pin2-container {
    background-image: url(/static/img/bg.jpg);
}

#pin1-arrow {
    position: absolute;
    padding-top: 10px;
    padding-left: 25px;
    /*display: inline-block;*/
}

.cssanimations #pin1-arrow {
    -webkit-animation: point-to 1s infinite;
    -moz-animation: point-to 1s infinite;
}

.no-cssanimations #pin1-arrow {
    display: none;
}

#pin2-arrow {
    position: absolute;
    padding-top: 10px;
    padding-left: 25px;
    -webkit-animation: point-2 1s infinite;
}

@-webkit-keyframes point-to {
    0% { -webkit-transform: translate3d(0,   0,0); 
         -webkit-animation-timing-function: ease-in; }
   40% { -webkit-transform: translate3d(30px, 0, 0); 
         -webkit-animation-timing-function: ease-out; }
  100% { -webkit-transform: translate3d(0,   0,0); }
}

@-moz-keyframes point-to {
    0% { -moz-transform: translate(0,0); 
         -moz-animation-timing-function: ease-in; }
   40% { -moz-transform: translate(50px,0); 
         -moz-animation-timing-function: ease-out; }
  100% { -moz-transform: translate(0,0); }
}

@-webkit-keyframes point-2 {
    0% { -webkit-transform: scaleX(-1); 
         -webkit-transform: translate(0, 0); 
         -webkit-animation-timing-function: ease-in; }
   40% { -webkit-transform: scaleX(-1);
         -webkit-transform: translate(-30px, 0); 
         -webkit-animation-timing-function: ease-out; }
  100% { -webkit-transform: scaleX(-1);
         -webkit-transform: translate(0,   0); }
}

.pin1-head {
    float: left;
    width: 108px;
    padding: 20px 20px 40px 0px;
}

.pin2-head {
    float: right;
    width: 108px;
    padding: 20px 0 40px 20px;
}

.pin1-title h1 {
    font-family: 'Ubuntu Condensed', Arial, serif;
    font-weight: 700;
    size: 25px;
    color: #fff;
    line-height: 90%;
}

.pin1-title h2 {
    font-family: 'Ubuntu Condensed', Arial, serif;
    font-weight: 400;
    font-size: 19px;
    color: #fff;
    line-height: 120%;
}

.pin1-input input {
    font-family: Arial, serif;
    font-weight: bold;
    font-size: 25px;
    border: 0;
    width: 200px;
    height: 50px;
    text-align: center;
    border: 1px solid #9E9E9E;
}

.pin2-input select {
    font-family: Arial, serif;
    font-weight: bold;
    font-size: 25px;
    border: 0;
    width: auto;
    height: 50px;
    text-align: center;
    border: 1px solid #9E9E9E;
}

#photoX {
    width: 200px;
    height: 239px;
    position: absolute;
    display: inline-block;
    top: 200px;
    left: 200px;
}

#photoY {
    width: 200px;
    height: 239px;
    position: absolute;
    display: inline-block;
    top: 200px;
    left: 1140px;
}

h1 {
    font-family: 'Parisienne', cursive;
    font-weight: 400;
    color: white;
}

#form {
    width: 600px;
    height: 300px;
    padding-left: 30px;
    position: absolute;
    top: 200px;
    left: 450px;
    background-color: #000;
    background-color: rgba(0,0,0,.5);
/*  opacity: 0.5;
    -moz-opacity: 0.5;
    filter:alpha(opacity=0.5);*/

    font-family: 'Parisienne', cursive;
    font-weight: 400;
    font-size: 20px;
    color: white;
}

.container {
/*  opacity: 1;
    -moz-opacity: 1;
    filter:alpha(opacity=1);*/
}
