<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>RSVP</title>
  <link rel="stylesheet" href="/static/css/style.css">
  <script type="text/javascript" src="/static/libs/modernizr-development.js"></script>
</head>
<body>

  {% block content %}{% endblock content %}

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="/static/libs/jquery-1.7.2.min.js"><\/script>')</script>

  <!-- TODO preload heads in first and second pin. If possible music too -->
  
  <script src="/static/js/preload.js"></script>
  <script src="/static/js/rotating-head.js"></script>

  <!--
  <script type="text/javascript">
    $(document).ready(function() {
        $("#photoX").rotatingHead({imagePath: '/static/img/simuka/', width: 200, height: 239});
        $("#photoY").rotatingHead({imagePath: '/static/img/simuka/', width: 200, height: 239});
    });
  </script>
  -->
  <script type="text/javascript">
  Modernizr.load({
      test: Modernizr.geolocation,
      yep : 'yes.js',
      nope: 'no.js'
  });
  </script>
</body>
</html>