{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <div class="invitation-container agenda">
        <h1>{{ flatpage.title }}</h1>

        <div class="invitation-body">
            {{flatpage.content}}
        </div>
    </div>

    {% include "menu.html" %}
{% endblock content %}

{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="/static/css/360player.css" />
    <style type="text/css">
    .ui360,
    .sm2-360ui {
     min-width:50px; /* should always be at least this. */
     min-height:50px;
    }

    .sm2-360ui {
     width:50px;
     height:50px;
    }
    #pirslybos {
        cursor: pointer;
    }
    </style>
{% endblock extrahead %}

{% block footer %}
    <script type="text/javascript">
    window.jQuery(document).ready(function() {
        window.jQuery("#pirslybos").click(function() {
            window.open("/player/", "player", "width=290,height=290,fullscreen=0,menubar=0,location=0,resizable=0, scrollbars=0,titlebar=0,status=0");
        });
    });

</script>
{% endblock footer %}